:root{
  --text-primary:#000;
  --bgPrimary:#fff;
 --bgSecondary: #F9F9F9;
 --pink: #0071bd;
 --light-blue: #e6f7ff;
 --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headerPosition{

  height: 5vw;
  width: 100vw;
  border-bottom: 1px solid black;
 
  display: flex;
}

.logo{
  width: 6%;
  margin-left: 12%;
  margin-top: 1.6%;
  height:30%;
  
  background-image: url(../img/samsung.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.menu{
  margin-top: 1.5%;
  margin-left: 62.5%;
  width: 8%;
  height: 40%;
  
  display: block;

  
}
.menuitem1{
  
  height:90%;
  margin-top: 1%;
  width: 28%;
  background-image: url(../img/busca.png);
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
}
.menuitem2{
 
  height: 100%;
  width: 27%;
  background-image: url(../img/carrinho.png);
  background-repeat: no-repeat;
  background-size: 100%;
  float: right;
  margin-right: 10%;
  
}
